@font-face {
    font-family: 'Min Icon Square VF';
    font-weight: 900;
    src: url('../fonts/variable/MinIconSquareVF.woff2') format('woff2'),
    url('../fonts/variable/MinIconSquareVF.ttf') format('truetype');
}

i {
  font-family: 'Min Icon Square VF' !important;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  font-style: normal;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}
