
@font-face {
    font-family: 'Min Icon Square';
    font-weight: 900;
    src: url('../fonts/static/woff2/MinIconSquare-Black.woff2') format('woff2'),
    url('../fonts/static/ttf/MinIconSquare-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Min Icon Square';
    font-weight: 700;
    src: url('../fonts/static/woff2/MinIconSquare-Bold.woff2') format('woff2'),
    url('../fonts/static/ttf/MinIconSquare-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Min Icon Square';
    font-weight: 550;
    src: url('../fonts/static/woff2/MinIconSquare-Medium.woff2') format('woff2'),
    url('../fonts/static/ttf/MinIconSquare-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Min Icon Square';
    font-weight: 400;
    src: url('../fonts/static/woff2/MinIconSquare-Regular.woff2') format('woff2'),
    url('../fonts/static/ttf/MinIconSquare-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Min Icon Square';
    font-weight: 250;
    src: url('../fonts/static/woff2/MinIconSquare-Light.woff2') format('woff2'),
    url('../fonts/static/ttf/MinIconSquare-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Min Icon Square';
    font-weight: 100;
    src: url('../fonts/static/woff2/MinIconSquare-Thin.woff2') format('woff2'),
    url('../fonts/static/ttf/MinIconSquare-Thin.ttf') format('truetype');
}




i {
  font-family: 'Min Icon Square' !important;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  font-style: normal;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}
