@font-face {
  font-family: "MinIconVF";
  src: url("../fonts/variable/MinIconVF.woff2") format("woff2-variations");
  font-weight: 100 900;
	font-style: normal;
}
@font-face {
  font-family: "MinIconBrand";
  src: url("../fonts/static/MinIconBrand.woff2") format("woff2");
}

i {
  font-family: "MinIconVF", "MinIconBrand" !important;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  font-variation-settings: "rond" 0, "edpt" 0;
  font-style: normal;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}
