@font-face {
    font-family: 'Min Icon Square';
    font-weight: 900;
    src: url('../fonts/woff2/MinIconSquare-Black.woff2') format('woff2'),
    url('../fonts/ttf/MinIconSquare-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Min Icon Square';
    font-weight: 700;
    src: url('../fonts/woff2/MinIconSquare-Bold.woff2') format('woff2'),
    url('../fonts/ttf/MinIconSquare-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Min Icon Square';
    font-weight: 550;
    src: url('../fonts/woff2/MinIconSquare-Medium.woff2') format('woff2'),
    url('../fonts/ttf/MinIconSquare-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Min Icon Square';
    font-weight: 400;
    src: url('../fonts/woff2/MinIconSquare-Regular.woff2') format('woff2'),
    url('../fonts/ttf/MinIconSquare-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Min Icon Square';
    font-weight: 250;
    src: url('../fonts/woff2/MinIconSquare-Light.woff2') format('woff2'),
    url('../fonts/ttf/MinIconSquare-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Min Icon Square';
    font-weight: 100;
    src: url('../fonts/woff2/MinIconSquare-Thin.woff2') format('woff2'),
    url('../fonts/ttf/MinIconSquare-Thin.ttf') format('truetype');
}


@font-face {
    font-family: 'Min Icon Round';
    font-weight: 900;
    src: url('../fonts/woff2/MinIconRound-Black.woff2') format('woff2'),
    url('../fonts/ttf/MinIconRound-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Min Icon Round';
    font-weight: 700;
    src: url('../fonts/woff2/MinIconRound-Bold.woff2') format('woff2'),
    url('../fonts/ttf/MinIconRound-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Min Icon Round';
    font-weight: 550;
    src: url('../fonts/woff2/MinIconRound-Medium.woff2') format('woff2'),
    url('../fonts/ttf/MinIconRound-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Min Icon Round';
    font-weight: 400;
    src: url('../fonts/woff2/MinIconRound-Regular.woff2') format('woff2'),
    url('../fonts/ttf/MinIconRound-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Min Icon Round';
    font-weight: 250;
    src: url('../fonts/woff2/MinIconRound-Light.woff2') format('woff2'),
    url('../fonts/ttf/MinIconRound-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Min Icon Round';
    font-weight: 100;
    src: url('../fonts/woff2/MinIconRound-Thin.woff2') format('woff2'),
    url('../fonts/ttf/MinIconRound-Thin.ttf') format('truetype');
}
