@font-face {
  font-family: "Min Icon VF";
  src: url("../fonts/variable/MinIconVF.woff2") format("woff2");
}

i {
  font-family: "Min Icon VF" !important;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  font-variation-settings: "rond" 3, "edpt" 1;
  font-style: normal;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}
